@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=cyrillic-ext,latin);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);

body {
    font-family: "Open Sans","Nimbus Sans L",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
}

.btn-danger {
    margin-top: 27px;
}

.btn-asterisk {
    background-color: #fff;
    border-color: #ccc;
    color: #636b6f;
    margin-top: 27px;
}

label.required:after {
    content:"*";
    color:red;
    font-weight: bold;
}

label.required {
    font-size: 13px;
    color: gray;
}

.fields {
    margin-bottom: 20px;
}

.fields label {
    font-weight: bold;
    font-size: 12px;
}

.selectField {
    margin-bottom: 10px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 1.6;
    padding: 8px;
    vertical-align: top;
    border-top: 0 !important;
    border-color: white;
}

.help-block {
    font-size: 13px;
}

.jumbotron {
    padding-bottom: 48px;
    padding-top: 30px;
    background-color: #d3e0e9;
}

footer.main {
    background: #d3e0e9 none repeat scroll 0 0;
    padding: 35px 20px;
    text-align: center;
    border-top: 1px solid #d3e0e9;
}

#app {
    margin-bottom: 50px;
    flex: 1 !important;
}

.create-template {

}

.breadcrumb {
    background-color: #d3e0e9 !important;
    color: black;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.breadcrumb > li + li::before {
    color: black;
    content: "/ ";
    padding: 0 5px;
}

a.list-badge {
    margin-bottom: 5px;
    display: inline-block;
}

.fixHeight {
    height: 50vh;
}